# Diretórios de build
/target/              # Diretório de saída da compilação (arquivos compilados)
/Cargo.lock           # Arquivo de lock do Cargo (se você deseja versioná-lo, remova esta linha)

#

.cargo

# Arquivos de configuração de IDE
.idea/                # JetBrains (IntelliJ, WebStorm, etc.)
.vscode/              # Visual Studio Code

# Arquivos temporários do sistema
.DS_Store             # macOS
Thumbs.db             # Windows

# Arquivos de logs
*.log

